.container_order_list{
  background: #FAFAFA;;
  display: grid;
  grid-template-columns: 342px 1fr;
}

.container_order_list .container_order{
  width: 90%;
  margin: 0 auto;
}

@media (max-width: 1290px){
  .container_order_list{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}



