.item_list_conteiner{
  display: flex;
  margin: 20px 16px 20px;
  align-items: center;
}

.divisor_li{
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  width: 90%;
  margin-left: 10px;
}

.item_list_conteiner img{
  width: 40px;
  height: 40px;
  border-radius: 100px;
}

.item_list_conteiner p{
  margin-left: 16px;
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 600;

  color: rgba(0, 0, 0, 0.87);
}