.item_list_conteiner{
  display: flex;
  margin: 20px 16px 20px;
  align-items: center;
}

.divisor_li{
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  width: 90%;
  margin-left: 10px;
}


.item_list_conteiner img{
  width: 40px;
  height: 40px;
  border-radius: 100px;
  background-color: #ff8822;
}

.item_list_conteiner p{
  margin-left: 16px;
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 600;

  color: rgba(0, 0, 0, 0.87);
}

@media (max-width: 430px){
  .products .scrollE .container_list_item .divisor_li{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    justify-content: center;
  }
}


/**/
.ContaienrImg {
  width: 40px;
  height: 40px;
  background: #ff8822;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.item_list_conteiner .ContaienrImg .check_img{
  background: #ff8822;
      width: 20px;
      height: 20px;
}