.btn_add{
  margin: 24px 0;
  padding: 16px;

  width: 100%;
  height: 56px;

  background-color: #fff;
  box-shadow: 0px 0.5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;

  display: flex;
  align-items: center;
}

.btn_add img{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 16px;
}

.btn_add .container_infos p{
  color: rgba(0, 0, 0, 0.56);
  font-size: 1.4rem;
  line-height: 2.2rem;

  text-transform: uppercase;
  font-weight: 600;
}

