.container_user_order{
  display: grid;
  grid-template-columns: 342px 1fr;

  height: 100vh;
  background: #FAFAFA;
}

.container_user_order .container{
  width: 90%;
  margin: 0 auto;
}

@media (max-width: 1290px){
  .container_user_order{
    display: flex;
    
  }
}