.container_list_item{
  margin-left: 56px;

}
.container_list_item h3{
  margin-top: 16px;
}

.list_item_container{
  list-style-type: none;
}

.divisor_lists{
  border-bottom: 8px solid rgba(0, 0, 0, 0.08);
}

@media (max-width: 430px){
  .container_list_item{
    margin-left: 0;
  }

  .products .scrollE .container_list_item{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 95%;
    justify-content: center;
  }
}