.scrollE{
  width: 100%;
  height: 100%;
  display: relative;
}

.scrollE .container_info_painel{
  margin: 0 40px;
}

.painel_container_two{
  display: flex;
  height: 340px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.header_container_painel_two{
  margin-bottom: 24px;
  display: flex;
}

.painel_container_two  img{
  margin-bottom: 28px;
}

.painel_container_two  p{
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: rgba(0, 0, 0, 0.54);
}

.container_info_painel p{
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: rgba(0, 0, 0, 0.56);

  margin-bottom: 24px;
  width: 410px;
}

.container_info_painel h6{
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2.4rem;
  color: rgba(0, 0, 0, 0.88);
}

.scrollE .btn_next{
  display: block;
  margin: 40px 16px 200px 320px;
}

.scrollE .img_none{
  margin-bottom: 28px;
}


/* Style DIV: product_detail_order   */
.product_detail_order{
  display: flex;
  margin: 40px 0 24px 0;
}

.product_detail_order img{
  width: 40px;
  height: 40px;
  border-radius: 100px;
  margin-right: 16px;
}

/*area dos inputs de tipo*/
.product_type input[type='radio']{
  padding: 16px;
  display: inline-block;
}

/*divisor*/
.divisor_lists{
  border-bottom: 8px solid rgba(0, 0, 0, 0.08);
  margin-top: 24px;
}

/* area de observação */
.comments_area{
  margin: 24px 40px 0;
}

.comments_area input{
  margin-top: 24px;
  margin-bottom: 150px;

  padding: 16px;
  width: 90%;

  border: 1px solid rgba(0, 0, 0, 0.56);
  border-radius: 5px;
}