.input_search{
  margin: 24px 0;
  padding: 16px;

  width: 100%;
  height: 56px;

  display: flex;
  align-items: center;

  border-bottom: 1px solid rgba(0, 0, 0, 0.34);
}

.input_search .icon{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 16px;
}

.input_search input{
  border: none;
  background: none;

  width: 100%;
  margin-left: 12px;
  padding: 8px 0;
} 



