.header_component{
  margin: 0 40px;
}

.header_container{
  width: 100%;
  padding-bottom: 10px;
}

.header_container{
  position: sticky;
  top: 0;
}

.header_container h3{
  font-size: 2.4rem;
  line-height: 3.6rem;
  color: rgba(0, 0, 0, 0.88);
  font-weight: 400;
}

.line_bottom{
  border-bottom: 2px solid #ff8822;
  width: 228px;
}
