.header_component{
  margin: 0 40px; 
}

.header_component.none_margin{
  margin:0;

}

.header_container{
  width: 100%;
  padding-bottom: 10px;

}

.header_container{
  position: sticky;
  top: 0;
}

.header_container a{
  display: block;
}

.header_container h3{
  font-size: 2.4rem;
  line-height: 3.6rem;
  color: rgba(0, 0, 0, 0.88);
  font-weight: 400;
}

.line_bottom{
  border-bottom: 2px solid #ff8822;
  width: 228px;
}

@media (max-width: 1290px){
  .header_container{
    display: block;
  }

  .header_container a{
    display: block;
  }
}


@media (max-width: 400px){
   .header_component,
  .products .scrollE .responsivo .header_container_painel_two .header_component.none_margin
  {
    width: 95%;
    margin-top: 16px;
    margin-left: 16px;
    
  }
  .products .scrollE .responsivo .header_container_painel_two .header_component .header_container h3{
    width: 95%;
  }
}