#sidebar{
  background: #FF8822;
  width: 342px;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;

  position: fixed;
  z-index: 10;

  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
  
}

#sidebar img{
  margin-top: 56px;
}

#sidebar .menu{
  width: 100%;
  margin-top: 80px;

  display: flex;
  flex-direction: column;
}

#sidebar .menu ul{
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: center;

  margin: 24px 0;
}

#sidebar .menu ul li{
  list-style-type: none;
  margin-bottom: 22px;
  text-transform: uppercase; 
  
}

.link-sidebar{
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 2.2rem;
  text-transform: uppercase;
  text-decoration: none;
}

#sidebar .menu li.animationSideBar ul.none{
  display: none;
}

#sidebar .menu li.animationSideBar ul.show{
  display: flex;
}

#sidebar .menu ul li a{
  text-decoration: none;
  color: #fff;
  
  padding-left: 16px;
  opacity: 0.5;

  font-weight: 600;
  font-size: 1.4rem;
  line-height: 2.2rem;
  transition: border-left .3s ease,
              opacity .3s ease;
}


#sidebar .menu ul li a.active,
#sidebar .menu ul li a.active
{
  opacity: 1;
  border-left: 2px solid #fff;
}

#sidebar .menu ul li a:hover{
  opacity: 1;
}

#sidebar p{
  color: #fff;
  position: absolute;
  top: 710px;

  font-size: 1.2rem;
  line-height: 1.8rem;
}


/*Icon Styles*/
.link-sidebar,
.link-sidebar-2
{
  color: #ff8822;
}


.link-sidebar.active,
.link-sidebar-2
{
  color: #fff;
  opacity: 0.5;
}


@media (max-width: 1290px){
  aside#sidebar{
    display: none;
  }
}