.scrollE{
  width: 100%;
  height: 100%;
}

.scrollE .container_info_painel{
  margin: 0 40px;
}

.painel_container_two{
  display: flex;
  height: 340px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.header_container_painel_two{
  margin-bottom: 24px;
  display: flex;
}

.painel_container_two  img{
  margin-bottom: 28px;
}

.painel_container_two  p{
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: rgba(0, 0, 0, 0.54);
}

.scrollE .container_info_painel p{
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: rgba(0, 0, 0, 0.56);

  margin-bottom: 24px;
  width: 100%;
}

.container_info_painel h6{
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2.4rem;
  color: rgba(0, 0, 0, 0.88);
}

.scrollE .btn_next{
  margin: 40px 16px 70px 320px;
}

.scrollE .img_none{
  margin-bottom: 28px;
}

.scrollE .btn_margin{
  margin-bottom: 50px;
}


@media(max-width: 500px){
  .container_order .main_new_order .scrollE{
    width: 100%;
  }

  .container_new_order p{
    width: 90%;
    overflow: hidden;
  }
}

@media(max-width: 400px){
  .products .scrollE .responsivo{
    width: 100%;
  }
  

  .products .scrollE .responsivo .container_info_painel{
     width: 95%;
     margin: 0 auto;
     overflow: hidden;
     display: flex;
     flex-direction: column;
   }
 }