/*GRID*/
.container_new_order{
  background: #FAFAFA;
  display: grid;
  grid-template-columns: 342px 1fr;
}
 
.container_new_order .container_order{
  width:100%;
  min-height: 100vh;
  margin: 0 auto;
}

/*GRID 2*/
.container_new_order .container_order .container_main{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.container_new_order .container_order .container_main .abstract_painel{
  background-color: #fff;
}

.container_new_order .container_order .container_main .painel{
  width: 100%;
  height: 93.8vh;
}

